.wrap {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    background-color: snow;
}

.animals {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}