.userdetails {
    background: #dddddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.block {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 0 5px 0;
    padding: 5px;
}